
// *** Animation 'remplissage' coeur

@keyframes like {
    0%{
        background: linear-gradient(#FF79DA 95%, #9356dc 5%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    10%{
        background: linear-gradient(#FF79DA 80%, #9356dc 20%);  
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
    }
    40%{
        background: linear-gradient(#FF79DA 50%, #9356dc 50%);   
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
    }

   80%{
        background: linear-gradient(35deg, #FF79DA 20%, #9356dc 80%);      
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
    }

    100%{
        background: linear-gradient(35deg, #FF79DA 1%, #9356dc 99%);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
    } 
}

// *** Animation 'apparition' cartes menu ****

@keyframes apparition {
  
    100% {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}

// *** Animation 'apparition check-box' ***

@keyframes choix {
    100%{
        opacity: 1;
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
    }
}

// *** Animation 'rotation check' ***

@keyframes rotate-check{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
 
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

// *** Animation 'poussé vers la gauche de prix' ***

@keyframes prix {

    100%{
        transform: translate(-5rem, 0);
        -webkit-transform: translate(-5rem, 0);
        -moz-transform: translate(-5rem, 0);
        -ms-transform: translate(-5rem, 0);
        -o-transform: translate(-5rem, 0);
}
}

// *** Animation 'spiner' ***

@keyframes spiner{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

// *** Animation sur le text ***

@keyframes flash{
    0%{
        color: #99e2d0;
        text-shadow: 0 0 7px #99e2d0;
    }
    90%{
        color: #9356dc;
        text-shadow: none; 
    }
    100%{
        color: #99e2d0;
        text-shadow: 0 0 7px #99e2d0;
    }
}

// *** Animation de disparition de chargement site

@keyframes disparition{

    100%{
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
}