.retour{
    display: flex;
    align-items: center;

    & a {
        color: #000;
        & span {
            font-size: 2rem;
            text-align: center;
            margin-left: 5rem;
        }
    }   
}

.footer{
    position: relative;
    bottom: 3rem;
}
