
.menu{
    @media (min-width: 992px) {       
        background: -moz-linear-gradient(top, #FF79DA 0%, #99E2D0 50%, #9356dc 100%);
        background: -webkit-linear-gradient(top, #FF79DA 0%, #99E2D0 50%, #9356dc 100%);
        background: linear-gradient(to bottom, #FF79DA 0%, #99E2D0 50%, #9356dc 100%);
    }

    .img-menu{
        width: 100%;
        height: 300px;

        @media (min-width: 576px){
            height: 100%; 
        }
        @media (min-width: 768px){
            height: 500px; 
        }
        @media (min-width: 992px){
            height: 700px; 
        }

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .details {
        @include taille;
        background-color: $colorsite;
        position: relative;
        // bottom: 3rem;
        margin-top: -3rem;
        padding: 2rem 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        border-radius: 3rem 3rem 0 0;  
        -webkit-border-radius: 3rem 3rem 0 0;
        -moz-border-radius: 3rem 3rem 0 0;
        -ms-border-radius: 3rem 3rem 0 0;
        -o-border-radius: 3rem 3rem 0 0;

        @media(min-width: 992px){ 
            width: 992px;
            margin: 0 auto;   
        }

        &__titre{
            @include taille;
            display: flex;
            justify-content: space-between;
            padding: 1rem 1rem 1rem 0;
            position: relative;
            opacity: 0;
            transform: translateY(-30px);
            -webkit-transform: translateY(-30px);
            -moz-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            -o-transform: translateY(-30px);
            animation: apparition 0.6s ease-out forwards;
            -webkit-animation: apparition 0.6s ease-out forwards;

            @media(min-width: 768px){
               padding: 2rem;
               border-bottom: 3px solid $colorprez2;
            }
            h1{
                font-size: 2.6rem;
                font-family: 'Shrikhand', sans-serif;                
            }
            .fa-heart{
                display: inline-block;
                @include heart;
            }
        }

        &__carte{
            @include taille;
            padding: 1rem 0;
           
            @media (min-width: 768px){
                display: flex;
                justify-content: center;
                margin: 1.2rem 0;
            }

            .choix-titre{
                padding: 1.2rem;
                opacity: 0;
                transform: translateX(-30px);
                -webkit-transform: translateX(-30px);
                -moz-transform: translateX(-30px);
                -ms-transform: translateX(-30px);
                -o-transform: translateX(-30px);
                animation: apparition 0.8s ease-out forwards;
                -webkit-animation: apparition 0.8s 0.2s ease-out forwards;

                @media (min-width: 768px){
                    width: 30%;
                }
                h2{
                    font-size: 1.8rem;
                    font-weight: 100;
                    text-transform: uppercase;                    
                }
                hr{
                    height: 0.4rem;
                    width: 5rem;
                    background-color: $tertiaire;
                    border-style: none;
                    margin-top: 0.5rem;
                }
            }

            .details-choix{
                @include taille;

                & > .choix:nth-child(1){
                    animation: apparition 0.8s 0.4s ease-out forwards;
                    -webkit-animation: apparition 0.8s 0.4s ease-out forwards;
                }
                & > .choix:nth-child(2){
                    animation: apparition 0.8s 0.4s ease-out forwards;
                    -webkit-animation: apparition 0.8s 0.5s ease-out forwards;
                }
                & > .choix:nth-child(3){
                    animation: apparition 0.8s 0.4s ease-out forwards;
                    -webkit-animation: apparition 0.8s 0.6s ease-out forwards;
                }
                & > .choix:nth-child(4){
                    animation: apparition 0.8s 0.4s ease-out forwards;
                    -webkit-animation: apparition 0.8s 0.7s ease-out forwards;
                }

                @media (min-width: 768px){
                    width: 60%;
                }

                .choix{
                    position: relative;
                    @include taille;
                    background-color: #fff;
                    padding: 1.2rem;
                    border-radius: 1.5rem;
                    margin: 1rem 0 1.5rem;
                    @include shadow;
                    opacity: 0;
                    transform: translateY(30px);
                    -webkit-transform: translateY(30px);
                    -moz-transform: translateY(30px);
                    -ms-transform: translateY(30px);
                    -o-transform: translateY(30px);
                    display: flex;
                    justify-content: space-between;

                    &:hover{
                        cursor: pointer;

                        & > .choix__plat {
                            .prix{
                                animation: prix 0.6s ease-out forwards;
                                -webkit-animation: prix 0.6s ease-out forwards;
                            }
                            .plat {
                                width: 70%;
                                
                            }
                        }


                        
                        

                        & > .choix__confirm{
                            animation: choix 0.6s ease-out forwards;
                            -webkit-animation: choix 0.6s ease-out forwards;

                            .fa-check-circle{

                               animation: rotate-check 0.4s 0.2s linear 1;
                               -webkit-animation: rotate-check 0.4s 0.2s linear 1;
                            }
                        }
                    }

                    &__plat{
                        // position: relative;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .plat{
                            width: 90%;
                            transition: width 0.3s;
                            
                            -webkit-transition: width 0.3s;
                            -moz-transition: width 0.3s;
                            -ms-transition: width 0.3s;
                            -o-transition: width 0.3s;
                            
                            h3{ 

                                line-height: 3rem;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis; 
                            }
    
                            p {
                                // position: relative;
    
                                // margin-right: 1rem;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis; 
                                // resize: horizontal;                         
                            }
                        }
                        
                        

                        .prix{
                            display: block;
                            font-size: 1.6rem;
                            position: absolute;
                            bottom: 1.2rem;
                            right: 0.5rem;
                            width: 10%;
                            transform: translate(0, 0);
                            -webkit-transform: translate(0, 0);
                            -moz-transform: translate(0, 0);
                            -ms-transform: translate(0, 0);
                            -o-transform: translate(0, 0);

                            @media (min-width: 768px){
                                margin-right: 1rem;
                            }
                        }                        
                    }

                    &__confirm{
                        
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        border-radius: 0 15px 15px 0;
                        background-color: #99E2D0;
                        height: 100%;
                        width: 15%;
                        @include bloc-center;
                        -webkit-border-radius: 0 15px 15px 0;
                        -moz-border-radius: 0 15px 15px 0;
                        -ms-border-radius: 0 15px 15px 0;
                        -o-border-radius: 0 15px 15px 0;
                        opacity: 0;
                        transform: translate(2rem, 0);
                        -webkit-transform: translate(2rem, 0) ;
                        -moz-transform: translate(2rem, 0) ;
                        -ms-transform: translate(2rem, 0) ;
                        -o-transform: translate(2rem, 0) ;

                        .fa-check-circle{
                            font-size: 2.5rem;
                            display: inline-block;
                            color: #fff;                          
                        } 
                    }
                }
            }   
        }
        .btn{
            @include btn;
            padding: 1.5rem 5rem;
            margin-bottom: 9rem;
        }   
    }
}