body{
    font-family: 'Roboto', sans-serif;
    color: #000;
}
h1 {
    font-size: 2.6rem;
    font-family: 'Shrikhand', sans-serif;
}
h2{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    
}
a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color:#000;
}